<form action="/new" method="post">
    <h1>New Message</h1>
    <label for="newName">Name</label>
    <input type="text" name="newName" id="new-name" />
    <br />
    <label for="newMessage">Message</label>
    <input type="text" name="newMessage" id="new-message" />
    <br />
    <button type="submit">Submit</button>
</form>
